body{
  margin : 0; 
  font-family: 'Acme', sans-serif;
  font-size: 15px; 
  line-height: 1.6;
  color: #fff;
  background-color: #212121;
 }

 *,
 *:before,
 *:after {
 box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 }

/* Do It */
  .doit {
  position: fixed;
  z-index: 1000;

  top: 80px;
  left: 40px;
  right: 40px;

  text-shadow: 0 5px 5px #0D2238;
  font-family: 'Dancing Script', cursive;
  font-size: 45px; 

  }

/* Container */
 .container {
  width: 100%;
  max-width: 70%;
  min-width: 700px;
  margin: 0 auto;
}

/* Intro #D7B298*/
 .intro {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height: 100vh;

 background: url(space.jpg) center no-repeat; 
 background-size: cover;
 }

 .intro__inner {
  width: 100%;
  max-width: 1000%;
  min-width: 700px;
  margin: 0 auto; 
  text-align: center;
 }

 .intro__title {
  color: #75B9FF;
  text-shadow: 0 10px 10px #0D2238;
  font-family: 'Bangers', cursive;
  font-size: 1000%; 
  font-weight: 80;
  text-transform: uppercase;
  
  line-height: .9;
  margin-bottom: -30px;
  margin-top: 100px;
 }

  .intro__subtitle {
  color: #D7B298;
  text-shadow: 0 5px 5px #0D2238;
  font-family: 'Dancing Script', cursive;
  font-size: 80px; 
  font-weight: 300;
  
  line-height: 1.6;
  margin-bottom: 0px;
  margin-top: -30px;
 }
 .intro__subtitle:after {
 content: "";
 display: block;
 width: 60px;
 height: 3px;
 margin: 40px auto;

 background-color: #0D4A88;
 }

/* Header */
 .header {
  width: 100%;
  padding-top: 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

 }
 .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #98CAFF;
  text-shadow: 0 0 5px #2866A7;

 }

/* Nav */
 .nav {
  font-size: 14px;
  text-transform: uppercase;
 }

 .nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #98CAFF;
  text-shadow: 0 0 5px #2866A7;
  text-decoration: none;

  transition: color .2s linear;
 }

 .nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  background-color: #98CAFF;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
 }
 .nav__link:hover {
  color: #6EB5FF;
  text-shadow: 0 0 15px #007DFF;
 }
 .nav__link:hover:after {
  opacity: .7;
 }

/*Button*/
.btn {
 display: inline-block;
 vertical-align: top;
 padding: 5px 30px;
 border: 3px solid #98CAFF;
 background-color: rgba(20, 37, 0, 0.2);
 font-size: 14px;
 font-weight: 200;
 color: #98CAFF;
 text-transform: uppercase;

 transition: background .2s linear, color .2s linear;
 }

 .btn:hover {
 background-color: rgba(0, 67, 136, 0.4);
 text-shadow: 0 0 15px #007DFF;
 color: #98CAFF;
 }


/* Section Color chose */

 .section {

 padding: 10px  0px;
 margin: 0px;
 width: 100%;
 height: 100vh;

 background: url(golki.jpg) center no-repeat; 
 background-size: cover; 

 }
 
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.controls {
  margin-bottom: 24px;
  font-family: 'Acme', sans-serif;
  font-size: 15px; 
  line-height: 22px;
  color: #eff1f5;
  border-bottom: 2px solid #20262d;
}

.container_1 {
  width: 326px;
  height: 66px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chosen-color {
  display: flex;
  padding: 8px 36px 8px 12px;
  font: inherit;
  color: inherit;
  border: 2px solid #75B9FF;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  background-size: 14px auto;
  background-color: rgba(20, 37, 0, 0.2);
  background-image: url("img/pixel-arrow-down.svg");
}

.chosen-color::-ms-expand {
  display: none;
}

.chosen-color:hover {
 background-color: rgba(0, 67, 136, 0.4);
 text-shadow: 0 0 15px #007DFF;
 color: #98CAFF;
}

.eraser-label {
  position: relative;
  padding: 8px 0 8px 40px;
  cursor: pointer;
}
.eraser-label::before {
  position: absolute;
  content: "";
  left: 6px;
  top: 6px;
  width: 20px;
  height: 20px;
  border: 2px solid #20262d;
}
.eraser:checked + .eraser-label::before {
  background-color: #20262d;
  background-image: url("img/pixel-check.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.eraser:focus + .eraser-label::before {
  outline: 2px #6e86b3;
  outline-offset: 2px;
}
.eraser-label:hover::before {
  background-color: #304153;
}
.eraser-label:active::before {
  background-color: #20262d;
  border-color: #485671;
}
.eraser-label::after {
  position: absolute;
  content: "";
  left: 6px;
  top: 6px;
  width: 24px;
  height: 24px;
  background: url("img/cut-corners.svg");
  background-repeat: no-repeat;
}
.canvas {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #20262d;
}
.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid #333a48;
  background-color: #ffffff;
  cursor: pointer;
}


/* Section Calendar */

 table {
  width: 100%
  max-width: 1400px;
  margin: 0 auto 10px;
  text-align: center;

  color: #98CAFF;
  text-shadow: 0 3px 3px blue;
  font-family: 'Dancing Script', cursive;
  font-size: 40px; 
  font-weight: 10;
  
  line-height: 1.4;
 }


 table-active {
  width: 100%
  max-width: 1400px;
  margin: 0 auto 10px;
  text-align: center;

  color: #98CAFF;
  text-shadow: 0 3px 3px blue;
  font-family: 'Dancing Script', cursive;
  font-size: 40px; 
  font-weight: 10;
  
  line-height: 1.4;

  left: 0;
  transition-duration:3s;
 }

 th{

  color: #D7B298;
  text-shadow: 0 10px 10px #0D2238;
  font-family: 'Bangers', cursive;
  font-size: 25px; 

  padding: 10px;
 }

 table td:nth-child(1),
 td:nth-child(7){
  color: #FFD7AB;
  text-shadow: 0 3px 3px red;
  font-size: 40px;
 }
 
 .days {
 border: 4px solid #116062;
 font-style: italic; 
 font-size: 16px;
 font-weight: bold;
 background-color: rgba(88, 200, 200, 0.6);
 }

/* Star */

 .star {
 display: flex;

 justify-content: top;
 width: 100%;
 height: 100vh;

 background: url(star.jpg) center;
 background-size: cover;
 }
  .star__inner {
  width: 100%;
  max-width: 900px;

  text-align: center;
 }

 .task-1,
 .task-2,
 .task-3 {

 width: 50px;
 height: 50px;
 }

 .section_rad {
 display: flex;
 justify-content: space-between;
 margin-top: 10px;

 }

 .container_3 {
 width: 400px;
 height: 400px;
 background: url(coder.png) 50% no-repeat;
 background-size: 70%;
 padding: 10px;
 }

 .container_4 {
 width: 400px;
 height: 400px;
 background: url(english.png) center no-repeat;
 background-size: 70%;
 padding: 20px;
 }

 .container_5 {
 width: 400px;
 height: 400px;
 background: url(shpagat.png) center no-repeat;
 background-size: 70%;
 padding: 20px;
 }

  input {
  width: 200px;
  height: 115px;
  color: white;
  text-shadow: 0 5px 5px #0D2238;
  font-family: 'Dancing Script', cursive;
  font-size: 45px; 
  font-weight: 10;
 }

 .text {
 width: 100%;
 height: 500px;
 font-size: 20pt;
 }






label::before {
  position: absolute;
  top: 0;
  left: -44px;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 2px solid #5a5a5a;
  content: "";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


input[type="checkbox"]:checked ~ label::before {
  width: 21px;
  height: 10px;
  border-color: #75B9FF;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}












/* Задачі */

.comment-form {
  display: flex;
  margin-bottom: 30px;
  padding: 20px 12px;
}

.comment-inner {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;
}

.comment-label {
  position: absolute;
  top: -26px;
  left: -9px;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 14px;
}

.comment-field {
  width: 100%;
  height: 30px;
  padding: 20px 10px;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 14px;
  line-height: 30px;
}

.comment-field::placeholder {
  color: #aaaaaa;
  font: inherit;
  font-size: 18px;
  font-style: italic;
}

.comment-field:focus::placeholder {
  font-size: 0;
}

.comment-field:hover::placeholder,
.comment-field:active::placeholder {
  opacity: 0.5;
}

.comment-feed h2 {

  color: #75B9FF;
  text-shadow: 0 10px 10px #0D2238;
  font-family: 'Bangers', cursive;
  font-size: 50px; 
  font-weight: 50;
  
  line-height: .9;
  margin-bottom: 20px;
  margin-top: -20px;
}

.comment-list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
  padding: 0;
  list-style: none;
  counter-reset: comments;
}

.comment-list li {
  margin-bottom: 6px;
  padding: 10px 12px;
  min-height: 36px;
  font-size: 34px;
  line-height: 24px;
}

.comment-list .user-comment {
  position: relative;
  display: flex;
}

.comment-list .user-comment::before {
  counter-increment: comments;
  content: "#" counter(comments);
  padding-right: 12px;
  margin-right: 12px;
  border-right: 2px solid;
  font-weight: bold;
}

.comment-list .user-comment::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  left: -8px;
  border: 5px solid;
  border-left-color: transparent;
  border-top-color: transparent;
}


